@import "../../styles/globle.scss";

.sideEmail{

    display: flex;
    position: fixed;
    bottom: -10px;
    right: 40px;
    align-items: center;
    transform: rotate(90deg) !important;
    transform-origin: right;

    span{
        content: "";
        width: 90px;
        height: 2px;
        background-color: $lightSlate;
        border-radius: 99rem;
        margin-left: 20px;
    }

    .sideEmail__email{
        color: $lightSlate;    
        
        &:hover{

            color: $green;

        }
    }

    
}

@media (max-width: $breakpoint-medium) {
    .sideEmail{

        display: flex;
        position: fixed;
        bottom: -10px;
        right: 15px;
        align-items: center;
        transform: rotate(90deg) !important;
        transform-origin: right;
    
        span{
            content: "";
            width: 90px;
            height: 2px;
            background-color: $lightSlate;
            border-radius: 99rem;
            margin-left: 20px;
        }
    
        .sideEmail__email{
            color: $lightSlate;                
        }
    
        
    }
    
}

@media (max-width: $breakpoint-small) {
    .sideEmail{
        display: none;

    }
}